* {
   margin: 0;
   padding: 0;
}

img, video {
   width: 100%;
   height: auto;
}

h1 {
   font: bold 20px verdana, sans-serif;
}
h2 {
   font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption {
   display: block;
}

body {
   width: 100%;

   display: -ms-flex;
   display: -webkit-flex;
   display: -moz-flex;
   display: flex;

   -ms-flex-direction: column;
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   flex-direction: column;

   -ms-justify-content: flex-start;
   -webkit-justify-content: flex-start;
   -moz-justify-content: flex-start;
   justify-content: flex-start;

   -ms-align-items: center;
   -webkit-align-items: center;
   -moz-align-items: center;
   align-items: center;
}

#wrapper{
   max-width: 960px;
   margin: 15px 0;

   display: -ms-flex;
   display: -webkit-flex;
   display: -moz-flex;
   display: flex;

   -ms-flex-direction: column;
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   flex-direction: column;

   -ms-justify-content: flex-start;
   -webkit-justify-content: flex-start;
   -moz-justify-content: flex-start;
   justify-content: flex-start;

   -ms-align-items: stretch;
   -webkit-align-items: stretch;
   -moz-align-items: stretch;
   align-items: stretch;
}

#main_header {
   background: #FFFBB9;
   border: 1px solid #999999;
   padding: 20px;

   -ms-flex-grow: 0;
   -webkit-flex-grow: 0;
   -moz-flex-grow: 0;
   flex-grow: 0;
}
#main_menu {
   background: #CCCCCC;
   padding: 5px 15px;

   -ms-flex-grow: 0;
   -webkit-flex-grow: 0;
   -moz-flex-grow: 0;
   flex-grow: 0;
}
#main_menu li {
   display: inline-block;
   list-style: none;
   padding: 5px;
   font: bold 14px verdana, sans-serif;
}

#container {
   display: -ms-flex;
   display: -webkit-flex;
   display: -moz-flex;
   display: flex;

   -ms-flex-direction: row;
   -webkit-flex-direction: row;
   -moz-flex-direction: row;
   flex-direction: row;

   -ms-justify-content: flex-start;
   -webkit-justify-content: flex-start;
   -moz-justify-content: flex-start;
   justify-content: flex-start;

   -ms-align-items: stretch;
   -webkit-align-items: stretch;
   -moz-align-items: stretch;
   align-items: stretch;
}

#main_section {
   -ms-flex-grow: 1;
   -webkit-flex-grow: 1;
   -moz-flex-grow: 1;
   flex-grow: 1;

   min-width: 200px;
   margin: 20px;
}
#main_aside {
   width: 220px;
   margin: 20px 0;
   padding: 20px;
   background: #CCCCCC;

   -ms-flex-grow: 0;
   -webkit-flex-grow: 0;
   -moz-flex-grow: 0;
   flex-grow: 0;
}

#main_footer {
   text-align: center;
   padding: 20px;
   border-top: 2px solid #999999;

   -ms-flex-grow: 0;
   -webkit-flex-grow: 0;
   -moz-flex-grow: 0;
   flex-grow: 0;
}
article {
   background: #FFFBCC;
   border: 1px solid #999999;
   padding: 20px;
   margin-bottom: 15px;
}
time {
   color: #999999;
}
article footer {
   text-align: right;
}
figcaption {
   font: italic 14px verdana, sans-serif;
}


